<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include('header') %>
    <main>
        <h1><%= title %></h1>
        <form action="/login" method="POST">
            <div class="form-row">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" />
            </div>
            <div class="form-row">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" />
            </div>
            <button type="submit">Log In</button>
        </form>
        <a href="/">Return Home</a>
    </main>
</body>
</html>