<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <%- include('header') %>
    <main>
        <h1>Enter the Secret Password<br>For the gift of knowledge...</h1>
        <form action="/secret-level" method="POST">
            <label for="password" class="hidden-label">Secret</label>
            <input type="password" id="password" name="password" placeholder="Secret Password" />
            <button type="submit" class="submit-btn">Submit</button>
        </form>
        <% if (locals.message) { %>
            <p class="error"><%= message %></p>
        <% } %>
    </main>
</body>
</html>