form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid grey;
    color: inherit;
}